.section {
    display: flex;
    justify-content: space-between;
    gap:20px;

}

.FeaturedGames {
    flex: 1;
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    background-color: var(--color-darkest);
    width: 60%;
}
.Games-titles {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Games {
    overflow-x: auto;
    gap: 30px;
    display: flex;
    flex-direction: row;
}


.Games img {
    width: 200px;
    height: 330px; 
}


h2 {
    font-size: 32px;
}


.Downloaded-card {
    height: 395px;
    overflow-y: auto;
}
.Top-Downloaded {
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    background-color: var(--color-darkest);
    width: 30%;
    display: flex;
    flex-direction: column;
    flex: 2;
}


.footer {
    text-align: center;
    color: rgb(75, 75, 75);
}

@media screen and (max-width: 1189px) {
    .section {
        flex-wrap: wrap;
    }
    
}
