

.CardLiveStream {
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-primary);
}



.CardLiveStream img {
    border-radius: 50%;
    padding:  10px 0;
}


h3 {
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

p {
    line-height: 2.5rem;
    color: rgb(105, 105, 105);
    font-size: 17px;
    padding: 5px 0;
    font-weight: 100;
    font-family: 'Cairo', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

