:root {
  --color-dark: #27292a;
  --color-darkest: #1f2122;
  --color-light: #fff;
  --color-primary: #ec6090;
  

  --color-bg-body: var(--color-darkest);

  --distance-primary: 50px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --border-radius-primary: calc(var(--distance-primary) / 2);

  --font-weight-bold: 900;
  --font-weight-slim: 400;

  

}

.wraper-section {
  padding:calc( var(--padding-primary) );
  margin: 0 calc( var(--margin-primary) );
  background-color: var(--color-dark);
  border-radius: var(--border-radius-primary);
}

ul {
  font-style: none;
  list-style: none;
  text-decoration: none;
}
body {
  background-color:  var(--color-bg-body);
  font-family: 'Cairo', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.wraper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-darkest);
  padding: var(--padding-primary) ;
  border-radius: var(--border-radius-primary);

}






.btn {
  padding: 15px;
  border-radius: var(--border-radius-primary);
  background-color: transparent;
  border: 1px solid rgb(101, 101, 101); 
  color: rgb(101, 101, 101);
  font-size: 15px;
  transition: 0.6s;
} 

.btn:hover{
  background-color: white;

}


.Hero-btn {
  margin-top: 10px;
  background-color: var(--color-primary);
}

.btn:hover{
  background-color: white;
}

.Hero-btn:hover {
  background-color: white;
  color: var(--color-primary);

}
.btn a ,
.Hero-btn a{
  color: white;
}

.btn a:hover ,
.Hero-btn a:hover {
  color: var(--color-primary);
}

.line-height {
  padding: 2px;
  margin: 20px 0;
  border-radius: 20px;
  background: var(--color-dark);
}